* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

header {
  box-shadow: 0px 0px 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
}

.app {
  padding: 3em 3em;
}

table {
  width: 100%;
  text-align: center;
}

.tarefa {    
    width: 35vw;
}

.status {    
    width: 35vw;    
}

.icon-status {
    
    width: 10vw;
}

.edit {   
    width: 10vw;
}

.remove {   
    width: 10vw;
}

td {
    padding-top: 1em;
    padding-bottom: 1em;
}

.icon-pend {
    font-size: 1.5em;
    color: red;
    text-align: left;
}

.icon-comp {
    font-size: 1.5em;
    color:green;
    text-align: left;
}

.box {
  position:absolute;   
  min-width: 800px;
  left: 50%;  
  transform: translate(-50%);
}

h2 {
  padding: 6px;
}

input {
  padding: 0.3em;
  outline: none;
}

button {
  padding: 0.3em;
  background-color: black;
  color: white;
  margin-left: 0.8em;
  outline: none;
  
}

.edit a {
  text-decoration: none;
  background-color: blue;
  display: block;
  border-radius: 10%;
  margin-left: 1em;
  margin-right: 1em;
  padding:6px 4px;
  color: black;
}

.remove a {
  text-decoration: none;
  background-color:red;
  display: block;
  border-radius: 10%;
  margin-left: 1em;
  margin-right: 1em;
  padding: 5px 3px;
  color: black; 
}

.tarefas td {   
  background-color: aqua;
}