* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  box-shadow: 0px 0px 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
}

.app {
  padding: 3em 3em;
}

table {
  width: 100vw;
  text-align: center;
}

.tarefa {    
    width: 35vw;
}

.status {    
    width: 35vw;    
}

.icon-status {
    background-color: antiquewhite;
    width: 10vw;
}
.edit {
    background-color: blueviolet;
    width: 10vw;
}
.remove {
    background-color: green;
    width: 10vw;
}
